<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1000858245200-jdrav8k6p7hrtk26301iuid5m8118vm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000858245200-jdrav8k6p7hrtk26301iuid5m8118vm5</string>
	<key>API_KEY</key>
	<string>AIzaSyDx49cz8T12DGm6czpe0nUxvj9_9GwQw3g</string>
	<key>GCM_SENDER_ID</key>
	<string>1000858245200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.bringmyfood</string>
	<key>PROJECT_ID</key>
	<string>bmf-admin-panel</string>
	<key>STORAGE_BUCKET</key>
	<string>bmf-admin-panel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000858245200:ios:ff52484741edb512</string>
	<key>DATABASE_URL</key>
	<string>https://bmf-admin-panel.firebaseio.com</string>
</dict>
</plist>